@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Mulish', sans-serif;
    background: #000000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }

  h1, h2, h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
  }
}

@layer utilities {
  .animate-smooth {
    will-change: transform, opacity;
  }
}

@media (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
